@mixin flexbox() {
    display: flex;
    box-sizing: content-box;
}

.outer {
    position: relative;
    height: 100px;
}

.left {
    position: absolute;
    width: 100px;   
    height: 100px;
    background: tomato;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100px;
    background: gold;
}

.center {
    margin-left: 100px;
    margin-right: 200px;
    height: 100px;
    background: lightgreen;
}

.triangle {
    display: flex;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid red;
    border-bottom: 50px solid transparent;
}